<div class="sunset cards-canvas">
  <main class="cards-list">
    <div class="card full-post">
      <div class="card__image">
        <img
          src="https://miro.medium.com/max/2660/1*6zRpkVumQDRUK5GQ2oY9hQ.jpeg"
        />
      </div>
      <div class="card__info">
        <div class="card__info__user">
          <a href="/profile"
            ><img
              class="poster-user-picture"
              src="https://i.pinimg.com/originals/2d/61/7a/2d617a8f80bfadaa38dc48d1fd91c65c.jpg"
              alt="Profile picture"
          /></a>
          <h3>@Fiona</h3>
        </div>
        <p class="card__info__extra">
          But we have to savor this moment! You could recite an epic for me. A
          ballad? A sonnet! A limerick? Or something!
        </p>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Likes</p>
        <h5 class="card__stats__info">1405</h5>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Comments</p>
        <h5 class="card__stats__info">5</h5>
      </div>
    </div>
    <div class="card comment">
      <div class="card__info">
        <div class="card__info__user">
          <a href="/profile"
            ><img
              class="poster-user-picture"
              src="https://3.bp.blogspot.com/-7dWkJ2oulFw/XKv0-xeqnZI/AAAAAAAABcs/1Juss_qSaYgqpKKnuzFn9C5kIeDBZmBdwCEwYBhgL/s1600/shrek1.jpg"
              alt="Profile picture"
          /></a>
          <h3>@Shrek</h3>
        </div>
        <p class="card__info__extra">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non error
          quos, dolorem at ratione quia nobis ipsam odio eum deleniti aliquam
          optio tempore nemo animi delectus porro doloremque temporibus nisi!
        </p>
      </div>
    </div>
    <div class="card comment">
      <div class="card__info">
        <div class="card__info__user">
          <a href="/profile"
            ><img
              class="poster-user-picture"
              src="https://upload.wikimedia.org/wikipedia/en/b/b6/Fairy_Godmother_Shrek_2.png"
              alt="Profile picture"
          /></a>
          <h3>@FairyGodmother</h3>
        </div>
        <p class="card__info__extra">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non error
          quos, dolorem at ratione quia nobis ipsam odio eum deleniti aliquam
          optio tempore nemo animi delectus porro doloremque temporibus nisi!
        </p>
      </div>
    </div>
    <div class="card comment">
      <div class="card__info">
        <div class="card__info__user">
          <a href="/profile"
            ><img
              class="poster-user-picture"
              src="https://pbs.twimg.com/media/D0XiE-lW0AAPid1.jpg"
              alt="Profile picture"
          /></a>
          <h3>@Doris</h3>
        </div>
        <p class="card__info__extra">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non error
          quos, dolorem at ratione quia nobis ipsam odio eum deleniti aliquam
          optio tempore nemo animi delectus porro doloremque temporibus nisi!
        </p>
      </div>
    </div>
    <div class="card comment">
      <div class="card__info">
        <div class="card__info__user">
          <a href="/profile"
            ><img
              class="poster-user-picture"
              src="https://i.pinimg.com/originals/2d/61/7a/2d617a8f80bfadaa38dc48d1fd91c65c.jpg"
              alt="Profile picture"
          /></a>
          <h3>@Fiona</h3>
        </div>
        <p class="card__info__extra">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non error
          quos, dolorem at ratione quia nobis ipsam odio eum deleniti aliquam
          optio tempore nemo animi delectus porro doloremque temporibus nisi!
        </p>
      </div>
    </div>
    <div class="card comment">
      <div class="card__info">
        <div class="card__info__user">
          <a href="/profile"
            ><img
              class="poster-user-picture"
              src="https://i.pinimg.com/600x315/8f/1e/75/8f1e75816bbd1a7c14a82cc87c28977e.jpg"
              alt="Profile picture"
          /></a>
          <h3>@LordFarquaad</h3>
        </div>
        <p class="card__info__extra">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non error
          quos, dolorem at ratione quia nobis ipsam odio eum deleniti aliquam
          optio tempore nemo animi delectus porro doloremque temporibus nisi!
        </p>
      </div>
    </div>
  </main>
</div>
