main {
  --neutralShade1: #f2f2f2;
  --neutralShade2: #e8e9e9;
  --neutralShade3: #d1d3d4;
  --neutralShade4: #babdbf;
  --neutralShade5: #808488;
  --neutralShade6: #666a6d;
  --neutralShade7: #4d5052;
  --neutralShade8: #212122;

  --grayColor: #999;
  --lightGrayColor: #ddd;

  --borderRadius: 6px;
  --boxShadow: 0 2px 5px rgba(#333, 0.2);
}

.cards-list {
  display: flex;
  flex-direction: column;
  justify-self: right;
}

.cards-canvas {
  display: grid;
  grid-template-areas: 'main aside';

  align-items: flex-start;
  justify-items: left;
  gap: 30px;

  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;

  strong {
    font-weight: 500;
  }

  em {
    font-style: italic;
  }

  h1 {
    font: 700 48px/1.2 'Poppins', sans-serif;
    margin-bottom: 10px;
  }

  h2 {
    font: 700 32px/1.2 'Poppins', sans-serif;
    margin-bottom: 10px;
  }

  h3 {
    font: 700 24px/1.2 'Poppins', sans-serif;
    margin-bottom: 10px;
  }

  h4 {
    font: 700 20px/1.2 'Poppins', sans-serif;
    margin-bottom: 10px;
  }

  h5 {
    font: 500 18px/1.2 'Poppins', sans-serif;
    margin-bottom: 10px;
  }

  h6 {
    font: 500 16px/1.2 'Poppins', sans-serif;
    text-transform: uppercase;
  }
}

.card {
  position: relative;
  overflow: hidden;
  box-shadow: 0 3px 15px rgba(#333, 0.2);
  border-radius: 20px;
  transition: 0.2s ease;
  &__image {
    overflow: hidden;
    display: flex;
    align-items: center;

    img {
      width: 100%;
      object-fit: contain;
    }
  }
  &__stats {
    &__title {
      color: var(--grayColor);
      text-transform: uppercase;
      font-size: 16px;
    }
  }
}

.index-post {
  width: 50vw;
  min-width: 600px;
  display: grid;

  margin-bottom: 50px;

  grid: auto auto auto / repeat(3, minmax(80px, 1fr));

  .card__image {
    grid-column: span 3;
    max-height: 400px;
  }

  .card__info {
    border-top: 7px solid var(--secondaryColor);
    grid-column: span 3;
    margin: 0;

    padding-left: 20px;
    padding-right: 20px;

    &__user {
      display: flex;
      align-items: center;
      margin-top: 5px;
      margin-bottom: 5px;
      .poster-user-picture {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin-right: 10px;
      }
      h3 {
        margin: 10px 0 10px 0;
      }
    }

    &__extra {
      text-align: justify;
      margin: 0;
      margin-bottom: 10px;
    }
  }

  .card__stats {
    display: flex;
    margin: 10px 25px;
    align-items: center;

    &__title {
      margin: 0;
      margin-right: 20px;
    }

    &__info {
      margin: 0;
      margin-right: auto;
    }
  }
}

.profile-top {
  width: auto;
  display: grid;

  margin-bottom: 50px;

  grid: auto auto auto / repeat(3, minmax(80px, 1fr));
  .card__image {
    grid-column: span 3;
    max-height: 300px;
  }
  .card__info {
    border-top: 7px solid var(--secondaryColor);
    grid-column: span 3;
    margin: 0;

    padding-left: 20px;
    padding-right: 20px;

    h3 {
      margin: 10px 0 10px;
    }
    p {
      margin: 0;
    }

    &__user {
      display: flex;
      align-items: center;
      img {
        width: 100px;
        object-fit: contain;
        border-radius: 50%;
        margin-right: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
  .card__stats {
    margin: 5px 25px;
    h5 {
      margin-top: 3px;
      margin-bottom: 3px;
    }
  }
}

.full-post {
  @extend .index-post;

  .card__image {
    grid-column: span 3;
    max-height: none;
  }
}
