@import './navbar';
@import './footer';

html,
body {
  background: var(--canvasColor);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  scroll-behavior: smooth;
}

main {
  margin-top: $navbar-height;
}
