<head>
    <link rel="stylesheet" href="<%= assetPath('cards.css') %>" />
    
  </head>
  
  <section>
    <div class="profile profile-side-bar">
      <div class="profile__image">
        <img src="INSERT_LINK" alt="Profile pic">
      </div>
      <div class="profile_info">
          <h3>Mr. X</h3>
          <p class="profile_info_text">
              "My name is Mr. X and I do stuff"
          </p>
      </div>
      
    </div>
  </section>