<div class="sunset cards-canvas">
    <main class="cards-list">
      <div class="card profile-top">
        <div class="card__image"><img src="<%= assetPath('mike.png') %>" alt="Mike"></div>
        <div class="card__info">
        <div class="card__info__e">
          <h3>@MikeWazowski </h3>
          <p class="card__info__extra"> Si ordene mi papeleo anoche lorem kdamsolkmasmdlknasdlknadslkndaslkmdaslkmsalkdmdaslkm</p>
        </div>
        <div class="card__stats">
          <p class="card__stats__title">Likes</p>
          <h5 class="card__stats__info">102</h5>
        </div>
        <div class="card__stats">
          <p class="card__stats__title">Comments</p>
          <h5 class="card__stats__info">2</h5>
        </div>
      </div>
</main>
</div>