<div class="sunset cards-canvas">
    <main class="cards-list">
      <div class="card profile-top">
        <div class="card__image"><img src="<%= assetPath('mike.png') %>" alt="Mike"></div>
        <div class="card__info">
        <div class="card__info__extra">
            <div class="card__info__user"><img src="<%= assetPath('mike.png') %>" alt="Mike"></div>
          <h3>@MikeWazowski </h3>
          <p class="card__info__extra"> Si ordene mi papeleo anoche lorem kdamsolkmasmdlknasdlknadslkndaslkmdaslkmsalkdmdaslkm</p>
        </div>
      </div>
</main>
</div>