<div class="sunset cards-canvas">
  <main class="cards-list">
    <div class="card profile-top">
      <div class="card__image"><img src="<%= assetPath('mike.png') %>" alt="Mike"></div>
      <div class="card__info">
        <div class="card__info__extra">
          <div class="card__info__user"><img src="<%= assetPath('mike.png') %>" alt="Mike"> 
              <h2>@MikeWazowski</h2>
          </div>
        </div>
      </div>  
      <div class="card__stats">
        <p class="card__stats__title">Name</p>
        <h5 class="card__stats__info">Michael</h5>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Last Name</p>
        <h5 class="card__stats__info">Wazowski</h5>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Age</p>
        <h5 class="card__stats__info">28</h5>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Likes</p>
        <h5 class="card__stats__info">Scaring children</h5>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">email</p>
        <h5 class="card__stats__info">themrmike@moninc.com</h5>
      </div>
    </div>
  </main>
</div>