<div class="sunset cards-canvas">
  <main class="cards-list">
    <div class="card profile-top">
      <div class="card__image"><img src="https://wallpaperstock.net/wallpapers/thumbs1/8296wide.jpg" alt="Shrek Landscape"></div>
      <div class="card__info">
        <div class="card__info__extra">
          <div class="card__info__user"><img src="https://3.bp.blogspot.com/-7dWkJ2oulFw/XKv0-xeqnZI/AAAAAAAABcs/1Juss_qSaYgqpKKnuzFn9C5kIeDBZmBdwCEwYBhgL/s1600/shrek1.jpg" alt="Shrek"> 
              <h2>@Shrek</h2>
          </div>
        </div>
      </div>  
      <div class="card__stats">
        <p class="card__stats__title">Name</p>
        <h5 class="card__stats__info">Shrek</h5>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Last Name</p>
        <h5 class="card__stats__info">De muy muy Lejano</h5>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Age</p>
        <h5 class="card__stats__info">500</h5>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Likes</p>
        <h5 class="card__stats__info">Onions</h5>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">email</p>
        <h5 class="card__stats__info">swampboss@shrek.com</h5>
      </div>
    </div>
    <div class="card index-post">
      <div class="card__image">
        <img src="https://i.pinimg.com/736x/fc/19/d7/fc19d7db9cbcb7659aae3dce7bf6b3c1--shrek-lego.jpg" >
      </div>
      <div class="card__info">
        <div class="card__info__user">
          <a href="/profile"><img class="poster-user-picture" src="https://3.bp.blogspot.com/-7dWkJ2oulFw/XKv0-xeqnZI/AAAAAAAABcs/1Juss_qSaYgqpKKnuzFn9C5kIeDBZmBdwCEwYBhgL/s1600/shrek1.jpg" alt="Profile picture" /></a>
          <h3>@Shrek </h3>
        </div>
        <p class="card__info__extra"> WHAT ARE YOU DOING IN MY SWAMP? </p>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Likes</p>
        <h5 class="card__stats__info">1020</h5>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Comments</p>
        <h5 class="card__stats__info">20</h5>
      </div>
    </div>
    <div class="card index-post">
      <div class="card__image">
        <img src="https://static1.srcdn.com/wordpress/wp-content/uploads/2019/06/Shrek-and-Donkey-on-the-bridge.jpg?q=50&fit=crop&w=740&h=370&dpr=1.5" >
      </div>
      <div class="card__info">
        <div class="card__info__user">
          <a href="/profile"><img class="poster-user-picture" src="https://3.bp.blogspot.com/-7dWkJ2oulFw/XKv0-xeqnZI/AAAAAAAABcs/1Juss_qSaYgqpKKnuzFn9C5kIeDBZmBdwCEwYBhgL/s1600/shrek1.jpg" alt="Profile picture" /></a>
          <h3>@Shrek </h3>
        </div>
        <p class="card__info__extra"> That’ll Do, Donkey. That’ll Do. </p>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Likes</p>
        <h5 class="card__stats__info">1980</h5>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Comments</p>
        <h5 class="card__stats__info">20</h5>
      </div>
    </div>
    <div class="card index-post">
      <div class="card__image">
        <img src="https://static1.srcdn.com/wordpress/wp-content/uploads/2019/06/Shrek-is-arrested.jpg?q=50&fit=crop&w=963&h=481&dpr=1.5" >
      </div>
      <div class="card__info">
        <div class="card__info__user">
          <a href="/profile"><img class="poster-user-picture" src="https://3.bp.blogspot.com/-7dWkJ2oulFw/XKv0-xeqnZI/AAAAAAAABcs/1Juss_qSaYgqpKKnuzFn9C5kIeDBZmBdwCEwYBhgL/s1600/shrek1.jpg" alt="Profile picture" /></a>
          <h3>@Shrek </h3>
        </div>
        <p class="card__info__extra"> Donkey, You Have The Right To Remain Silent. What You Lack Is The Capacity.</p>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Likes</p>
        <h5 class="card__stats__info">1220</h5>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Comments</p>
        <h5 class="card__stats__info">10</h5>
      </div>
    </div>
    <div class="card index-post">
      <div class="card__image">
        <img src="https://static3.srcdn.com/wordpress/wp-content/uploads/2016/09/Puss-In-Boots-Shrek.jpg?q=50&fit=crop&w=740&h=370&dpr=1.5" >
      </div>
      <div class="card__info">
        <div class="card__info__user">
          <a href="/profile"><img class="poster-user-picture" src="https://3.bp.blogspot.com/-7dWkJ2oulFw/XKv0-xeqnZI/AAAAAAAABcs/1Juss_qSaYgqpKKnuzFn9C5kIeDBZmBdwCEwYBhgL/s1600/shrek1.jpg" alt="Profile picture" /></a>
          <h3>@Shrek </h3>
        </div>
        <p class="card__info__extra"> Look At Him In His Wee Li’l Boots! Y’know, How Many Cats Can Wear Boots? Honestly? </p>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Likes</p>
        <h5 class="card__stats__info">10080</h5>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Comments</p>
        <h5 class="card__stats__info">80</h5>
      </div>
    </div>
    <div class="card index-post">
      <div class="card__image">
        <img src="https://static2.srcdn.com/wordpress/wp-content/uploads/2019/06/Shrek-opening-scene.jpg?q=50&fit=crop&w=740&h=370&dpr=1.5" >
      </div>
      <div class="card__info">
        <div class="card__info__user">
          <a href="/profile"><img class="poster-user-picture" src="https://3.bp.blogspot.com/-7dWkJ2oulFw/XKv0-xeqnZI/AAAAAAAABcs/1Juss_qSaYgqpKKnuzFn9C5kIeDBZmBdwCEwYBhgL/s1600/shrek1.jpg" alt="Profile picture" /></a>
          <h3>@Shrek </h3>
        </div>
        <p class="card__info__extra"> Actually, It’s Quite Good On Toast.</p>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Likes</p>
        <h5 class="card__stats__info">1550</h5>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Comments</p>
        <h5 class="card__stats__info">170</h5>
      </div>
    </div>
  </main>
</div>
