$primary-color: #5fd61f;
$primary-color-light: #98e354;
$primary-color-dark: #026e59;

$secondary-color: #dc1317;
$secondary-color-light: #ed444d;
$secondary-color-dark: #ca0101;

$black-text: #0f1e26;
$white-text: #f2f1ef;
