<div class="about_grid">
  <div class="about_info">
    <img src=https://images.wallpaperscraft.com/image/red_panda_tongue_protruding_cute_150773_300x300.jpg alt="Shifu"/>
    <h5> Maestro Shifu</h5>
    <h6> Entrenador de Guerreros Dragón</h6>
  </div>
  <div class="about_info">
    <img src=https://images.wallpaperscraft.com/image/red_panda_tongue_protruding_cute_150773_300x300.jpg alt="Shifu"/>
    <h5> Maestro Shifu</h5>
    <h6> Entrenador de Guerreros Dragón</h6>
  </div>
  <div class="about_info">
    <img src=https://images.wallpaperscraft.com/image/red_panda_tongue_protruding_cute_150773_300x300.jpg alt="Shifu"/>
    <h5> Maestro Shifu</h5>
    <h6> Entrenador de Guerreros Dragón</h6>
  </div>
  <div class="about_info">
    <img src=https://images.wallpaperscraft.com/image/red_panda_tongue_protruding_cute_150773_300x300.jpg alt="Shifu"/>
    <h5> Maestro Shifu</h5>
    <h6> Entrenador de Guerreros Dragón</h6>
  </div>
  <div class="about_info">
    <img src=https://images.wallpaperscraft.com/image/red_panda_tongue_protruding_cute_150773_300x300.jpg alt="Shifu"/>
    <h5> Maestro Shifu</h5>
    <h6> Entrenador de Guerreros Dragón</h6>
  </div>
  <div class="about_info">
    <img src=https://images.wallpaperscraft.com/image/red_panda_tongue_protruding_cute_150773_300x300.jpg alt="Shifu"/>
    <h5> Maestro Shifu</h5>
    <h6> Entrenador de Guerreros Dragón</h6>
  </div>
</div>