<footer>
  <div id="logo-footer">
    <img src="<%= assetPath('logo.png') %>" alt="Logo" />
    <h1 class="word-mark">TrippieBook</h1>
  </div>
  <div class="footer-box">
    <ul>
      <li><a href="/about">About</a></li>
    </ul>
    <ul>
      <li><a href="https://www.youtube.com/watch?v=Smd4CUg_cB0">Terms of Service</a></li>
    </ul>
  </div>
  <div class="footer-box">
    Welcome to TrippieBook, the number one website to sell your soul to strangers. (/) (°,,°) (/)
  </div>
  <div class="copyright">© Copyright 2021 InsertFunnyName</div>
</footer>
