<footer>
  <div id="logo-footer">
    <img src="<%= assetPath('logo.png') %>" alt="Logo" />
    <h1 class="brand">TrippieBook</h1>
  </div>
  <div class="footer-box">
    <ul>
      <li><a href="/about">About</a></li>
    </ul>
    <hr />
    <ul>
      <li><a href="/contact">Contact</a></li>
    </ul>
    <hr />
    <ul>
      <li><a href="/tos">Terms of Service</a></li>
    </ul>
  </div>
  <div class="footer-box">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo repudiandae eveniet iure provident suscipit minus magnam facere, sit nihil veritatis. Dolorum illum ratione, corrupti dolorem eum pariatur alias expedita ullam.</div>
  <div class="copyright">© Copyright 2021 InsertFunnyName</div>
</footer>