<head>
  <link rel="stylesheet" href="<%= assetPath('cards.css') %>" />
  
</head>

<section>
  <div class="profile profile-default">
    <div class="profile__info">
      <h3>HolaaAAA</h3>
      <div class="profile__info__extra"></div>
    </div>
  </div>
</section>
