<div class="sunset cards-container">
  <div class="profile profile-default">
    <div class="profile__image"><img src="<%= assetPath('avatar.png') %>" alt="Avatar"></div>
    <div class="profile__info">
      <h3>Doggo Dogg</h3>
      <p class="profile__info__extra">A very good boi that loves playing fetch and ice-cream! Gentle with everyone. Scared of the rain.</p>
    </div>
    <div class="profile__stats">
      <p class="profile__stats__title">Type</p>
      <h5 class="profile__stats__info">Puppy</h5>
    </div>
    <div class="profile__stats">
      <p class="profile__stats__title">Size</p>
      <h5>Medium</h5>
    </div>
    <div class="profile__stats">
      <p class="profile__stats__title">Weight</p>
      <h5 class="profile__stats__info">45.85 lbs</h5>
    </div>
  </div>
  <div class="profile profile-default">
    <div class="profile__image"><img src="<%= assetPath('avatar.png') %>" alt="Avatar"></div>
    <div class="profile__info">
      <h3>Doggo Dogg</h3>
      <p class="profile__info__extra">A very good boi that loves playing fetch and ice-cream! Gentle with everyone. Scared of the rain.</p>
    </div>
    <div class="profile__stats">
      <p class="profile__stats__title">Type</p>
      <h5 class="profile__stats__info">Puppy</h5>
    </div>
    <div class="profile__stats">
      <p class="profile__stats__title">Size</p>
      <h5>Medium</h5>
    </div>
    <div class="profile__stats">
      <p class="profile__stats__title">Weight</p>
      <h5 class="profile__stats__info">45.85 lbs</h5>
    </div>
  </div>
</div>
