<div class="sunset cards-canvas">
  <main class="cards-list">
    <div class="card index-post">
      <div class="card__image">
        <a href="/post">
          <img src="https://i.pinimg.com/736x/fc/19/d7/fc19d7db9cbcb7659aae3dce7bf6b3c1--shrek-lego.jpg" >
        </a>
      </div>
      <div class="card__info">
        <div class="card__info__user">
          <a href="/profile"><img class="poster-user-picture" src="https://3.bp.blogspot.com/-7dWkJ2oulFw/XKv0-xeqnZI/AAAAAAAABcs/1Juss_qSaYgqpKKnuzFn9C5kIeDBZmBdwCEwYBhgL/s1600/shrek1.jpg" alt="Profile picture" /></a>
          <h3>@Shrek </h3>
        </div>
        <p class="card__info__extra"> WHAT ARE YOU DOING IN MY SWAMP? </p>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Likes</p>
        <h5 class="card__stats__info">1020</h5>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Comments</p>
        <h5 class="card__stats__info">20</h5>
      </div>
    </div>
    <div class="card index-post">
      <div class="card__image">
        <a href="/post">
          <img src="https://miro.medium.com/max/2660/1*6zRpkVumQDRUK5GQ2oY9hQ.jpeg" >
        </a>
      </div>
      <div class="card__info">
        <div class="card__info__user">
          <a href="/profile"><img class="poster-user-picture" src="https://i.pinimg.com/originals/2d/61/7a/2d617a8f80bfadaa38dc48d1fd91c65c.jpg" alt="Profile picture" /></a>
          <h3>@Fiona </h3>
        </div>
        <p class="card__info__extra"> But we have to savor this moment! You could recite an epic for me. A ballad? A sonnet! A limerick? Or something!</p>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Likes</p>
        <h5 class="card__stats__info">1405</h5>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Comments</p>
        <h5 class="card__stats__info">5</h5>
      </div>
    </div>
    <div class="card index-post">
      <div class="card__image">
        <a href="/post">
          <img src="https://media.npr.org/assets/img/2010/05/21/shrekdonkey_wide-89db9721fc009fe615cf25133a6a3a5d3988444a.jpg?s=1400" >
        </a>
      </div>
      <div class="card__info">
        <div class="card__info__user">
          <a href="/profile"><img class="poster-user-picture" src="https://i.pinimg.com/originals/b6/63/e8/b663e843f4bef374de7bd57a3d3b028c.jpg" alt="Profile picture" /></a>
          <h3>@Donkey </h3>
        </div>
        <p class="card__info__extra"> I like that boulder. That is a nice boulder.</p>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Likes</p>
        <h5 class="card__stats__info">1600</h5>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Comments</p>
        <h5 class="card__stats__info">23</h5>
      </div>
    </div>

    <div class="card index-post">
      <div class="card__image">
        <a href="/post">
          <img src="https://i.pinimg.com/originals/5e/00/ea/5e00ea5074751e381c7ef7fe53655058.jpg" >
        </a>
      </div>
      <div class="card__info">
        <div class="card__info__user">
          <a href="/profile"><img class="poster-user-picture" src="https://i.pinimg.com/originals/02/db/a3/02dba3e09295891ee5df76e19ebe7299.jpg" alt="Profile picture" /></a>
          <h3>@Dragon </h3>
        </div>
        <p class="card__info__extra"> </p>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Likes</p>
        <h5 class="card__stats__info">20</h5>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Comments</p>
        <h5 class="card__stats__info">2</h5>
      </div>
    </div>
    <div class="card index-post">
      <div class="card__image">
        <a href="/post">
          <img src="https://www.denofgeek.com/wp-content/uploads/2009/05/73929.jpg?resize=768%2C432" >
        </a>
      </div>
      <div class="card__info">
        <div class="card__info__user">
          <a href="/profile"><img class="poster-user-picture" src="https://www.nydailynews.com/resizer/F83XorvFG_LwKWbKr1IKpGs-pL0=/1200x0/top/arc-anglerfish-arc2-prod-tronc.s3.amazonaws.com/public/6LC6Y4E3RYNBDCFCXW34VGM5TY.jpg" alt="Profile picture" /></a>
          <h3>@PussInBoots </h3>
        </div>
        <p class="card__info__extra"> For you, baby, I could be.</p>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Likes</p>
        <h5 class="card__stats__info">5000</h5>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Comments</p>
        <h5 class="card__stats__info">40</h5>
      </div>
    </div>
    <div class="card index-post">
      <div class="card__image">
        <a href="/post">
          <img src="https://i.pinimg.com/originals/78/2b/64/782b642d7c6ba76f371922fd5b2a640c.jpg" >
        </a>
      </div>
      <div class="card__info">
        <div class="card__info__user">
          <a href="/profile"><img class="poster-user-picture" src="https://i.pinimg.com/600x315/8f/1e/75/8f1e75816bbd1a7c14a82cc87c28977e.jpg" alt="Profile picture" /></a>
          <h3>@LordFarquaad </h3>
        </div>
        <p class="card__info__extra"> The winner of this tournament - no, no, the privilege - will have the honour of rescuing the beautiful Princess Fiona from the fiery pit of that dragon! Should the winner fail to return, the runner-up shall take his place, and so on and so forth... Some of you may die, but it's a sacrifice I am willing to make.</p>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Likes</p>
        <h5 class="card__stats__info">2</h5>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Comments</p>
        <h5 class="card__stats__info">0</h5>
      </div>
    </div>
    <div class="card index-post">
      <div class="card__image">
        <a href="/post">
          <img src="https://pbs.twimg.com/media/EIwtzbSU8AAFS8W.jpg" >
        </a>
      </div>
      <div class="card__info">
        <div class="card__info__user">
          <a href="/profile"><img class="poster-user-picture" src="https://pbs.twimg.com/media/DwXPOVCX0AAal5v.jpg" alt="Profile picture" /></a>
          <h3>@QueenLillian </h3>
        </div>
        <p class="card__info__extra"> You are more that man now than you ever were, warts and all.</p>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Likes</p>
        <h5 class="card__stats__info">4000</h5>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Comments</p>
        <h5 class="card__stats__info">50</h5>
      </div>
    </div>
    <div class="card index-post">
      <div class="card__image">
        <a href="/post">
          <img src="https://i.ytimg.com/vi/egOcHC1JXPA/maxresdefault.jpg" >
        </a>
      </div>
      <div class="card__info">
        <div class="card__info__user">
          <a href="/profile"><img class="poster-user-picture" src="https://pbs.twimg.com/profile_images/2325496440/n4f9992300bd4f.jpg" " alt="Profile picture" /></a>
          <h3>@PrinceCharming </h3>
        </div>
        <p class="card__info__extra"> Where is he Mum? I shall render his head from his shoulders! I will smite him where he stands! HE WILL RUE THE VERY DAY HE STOLE MY KINGDOM AWAY FROM ME!</p>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Likes</p>
        <h5 class="card__stats__info">3000</h5>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Comments</p>
        <h5 class="card__stats__info">100</h5>
      </div>
    </div>
    <div class="card index-post">
      <div class="card__image">
        <a href="/post">
          <img src="https://carboncostume.com/wordpress/wp-content/uploads/2019/10/fairygodmother-shrek2.jpg" >
        </a>
      </div>
      <div class="card__info">
        <div class="card__info__user">
          <a href="/profile"><img class="poster-user-picture" src="https://upload.wikimedia.org/wikipedia/en/b/b6/Fairy_Godmother_Shrek_2.png" alt="Profile picture" /></a>
          <h3>@FairyGodmother </h3>
        </div>
        <p class="card__info__extra">  I don't care whose fault this was, just get this place cleaned up! And could someone please bring me something deep fat fried and smothered in chocolate!</p>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Likes</p>
        <h5 class="card__stats__info">10000</h5>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Comments</p>
        <h5 class="card__stats__info">500</h5>
      </div>
    </div>
    <div class="card index-post">
      <div class="card__image">
        <a href="/post">
          <img src="http://2.bp.blogspot.com/-MXrb7FajECw/UpY8XQ7PXUI/AAAAAAAABKg/OBI361kvO9I/w1200-h630-p-k-no-nu/Doris,+Shrek.jpg" >
        </a>
      </div>
      <div class="card__info">
        <div class="card__info__user">
          <a href="/profile"><img class="poster-user-picture" src="https://pbs.twimg.com/media/D0XiE-lW0AAPid1.jpg" alt="Profile picture" /></a>
          <h3>@Doris </h3>
        </div>
        <p class="card__info__extra">  I don't care whose fault this was, just get I know he's a jerk and all but I gotta admit that Charming makes me hotter than July.</p>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Likes</p>
        <h5 class="card__stats__info">6000</h5>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Comments</p>
        <h5 class="card__stats__info">70</h5>
      </div>
  </main>
  <aside id="sidebar">
    <p class="sidebar-header">Cool stuff and such</p>
    <p>HOLAA</p>
    <p>HOLAA</p>
    <p>HOLAA</p>
    <p>HOLAA</p>
    <p>HOLAA</p>
    <p>HOLAA</p>
  </aside>
</div>
