
<% for( let propName in this ) { %>
  <p><%= propName %></p>
<% } %>
<% console.log(this) %>


<h1>Hello world</h1>
<p>App web version <%= appVersion %></p>
<div id="react-app">Here a React app will be rendered</div>
  <asd></asd>

