<div class="sunset cards-canvas">
  <main class="cards-list">
    <div class="card index-post">
      <div class="card__image"><img src="<%= assetPath('mike.png') %>" alt="Mike"></div>
      <div class="card__info">
        <h3>@MikeWazowski </h3>
        <p class="card__info__extra"> Si ordene mi papeleo anoche lorem</p>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Likes</p>
        <h5 class="card__stats__info">102</h5>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Comments</p>
        <h5 class="card__stats__info">2</h5>
      </div>
    </div>
    <div class="card index-post">
      <div class="card__image"><img src="<%= assetPath('avatar.png') %>" alt="Avatar"></div>
      <div class="card__info">
        <h3>Doggo Dogg</h3>
        <p class="card__info__extra">A very good boi that loves playing fetch and ice-cream! Gentle with everyone. Scared of the rain.</p>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Type</p>
        <h5 class="card__stats__info">Puppy</h5>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Size</p>
        <h5>Medium</h5>
      </div>
      <div class="card__stats">
        <p class="card__stats__title">Weight</p>
        <h5 class="card__stats__info">45.85 lbs</h5>
      </div>
    </div>
  </main>
  <aside id="sidebar">
    <p class="sidebar-header">Cool stuff and such</p>
    <p>HOLAA</p>
    <p>HOLAA</p>
    <p>HOLAA</p>
    <p>HOLAA</p>
    <p>HOLAA</p>
    <p>HOLAA</p>
  </aside>
</div>
