<body>
  <header>
    <nav class="navbar">
      <div id="brand-container">
        <div class="brand">
          <div class="logo">
            <a href="/"><img src="<%= assetPath('logo.png') %> " alt="Logo"/></a>
          </div>
          <div class="word-mark" id="navbar-word-mark">
            <a href="/" >TrippieBook</a>
          </div>
        </div>
      </div>
      <div id="menu-container">
        <ul>
          <li>
            <a href="/signup">Sign Up</a>
          </li>
          <li>
            <a href="/login">Log In</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <script src="<%= assetPath('navbar.js') %>"></script>
</body>
