<div class="sunset cards-canvas">
  <main class="cards-list">
    <div class="card form-card">
      <h2>Sign Up</h2>
      <form action="<%= userSignupPath %>" enctype="multipart/form-data" method="post">
        <label for="firstName">First Name</label>
        <input type="firstName" name="firstName" />
        <label for="lastName">Last Name</label>
        <input type="lastName" name="lastName" />
        <label for="email">E-mail</label>
        <input type="email" name="email" />
        <label for="password">Password</label>
        <input type="password" name="password" />
        <button class="submit-button" type="submit">Sign Up</button>
      </form>
    </div>
  </main>
</div>
