$nav-bg: #fe5f55;
$accent: #ffffff;

$navbar-height: 160px;

header {
  display: flex;
  background: $nav-bg;
}

.navbar-offset {
  display: block;
  height: 160px;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  z-index: 10;
  transition: all 0.3s;
  width: 100vw;
  height: $navbar-height;
  background: $nav-bg;

  &.floating-navbar {
    box-shadow: 0 4px 30px -5px rgba(#000, 0.2);
    height: 64px;

    #navbar-word-mark {
      display: none;
    }

    .logo img {
      height: 50px;
    }

    a {
      font-size: 18px;
    }

    #menu-container ul #profile-picture-container {
      height: 50px;
      width: 50px;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

#brand-container,
#menu-container {
  display: flex;
  align-items: center;
}

#brand-container {
  padding-left: 40px;
}

.brand {
  display: flex;
  align-items: center;
  border-radius: 25px;
  background: $accent;
  box-sizing: border-box;
}

.word-mark {
  padding-left: 20px;
  padding-right: 20px;
}

.logo {
  cursor: pointer;
}

.logo img {
  height: 100px;
  transition: all 0.3s;
}

#menu-container {
  justify-content: flex-end;
  padding-right: 40px;
  font-size: 20px;

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
  }

  li {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 2em;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: $accent;
    border-radius: 90px;
  }

  a {
    transition: all 0.3s;
  }
}

.logout-button {
  background: inherit;
  border: inherit;
  padding: inherit;
  font-family: inherit;
  cursor: pointer;
  font: inherit;
}

#profile-picture {
  max-height: 100%;
  border-radius: 50%;
  border: 3px solid $accent;
  box-sizing: border-box;
}

#menu-container ul #profile-picture-container {
  transition: all 0.3s;
  padding: 0;
  display: block;
  height: 90px;
  width: 90px;
}

/*
  RESPONSIVE STUFF
*/
#menu-toggle {
  border-radius: 50%;
  cursor: pointer;
  display: none;
  &:hover .bar {
    width: 25px;
  }
  &.closeMenu {
    .bar {
      width: 25px;
      &:first-child {
        transform: translateY(7px) rotate(45deg);
      }
      &:nth-child(2) {
        transform: scale(0);
      }
      &:last-child {
        transform: translateY(-7px) rotate(-45deg);
      }
    }
  }
}
