<div class="sunset cards-canvas">
  <main class="cards-list">
    <div class="card">
      <form action="<%= patchPostPath(post.id) %>" enctype="multipart/form-data" method="post">
        <div class="field">
          <label for="imageLink">Image URL</label>
          <input type="url" name="imageLink" value="<%= post.imageLink %>" />
        </div>
        <div class="field">
          <label for="body">Body</label>
          <input type="text" name="body" value="<%= post.body %>" />
        </div>
        <div class="field">
          <input type="hidden" name="_method" value="patch" />
          <input type="submit" name="create" value="Submit changes" />
        </div>
      </form>
    </div>

  </main>
</div>
