<div class="sunset cards-canvas">
  <main class="cards-list">
    <div class="card form-card">
      <h2>Edit post</h2>
      <form action="<%= patchPostPath(post.id) %>" enctype="multipart/form-data" method="post">
        <label for="imageLink">Image URL</label>
        <input type="url" name="imageLink" value="<%= post.imageLink %>" />
        <label for="body">Body</label>
        <textarea name="body" value="<%= post.body %>" placeholder="What's on your mind?"></textarea> 
        <input type="hidden" name="_method" value="patch" />
        <button class="submit-button" type="submit">Submit changes</button>
      </form>
    </div>
  </main>
</div>
